.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  width: 100%;
  padding: 100px 20px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;

  position: relative;
  width: 768px;
  text-align: center;
}

.content h2 {
  font-size: 45px;
}

.content h2::before {
  content: '';
  width: 100px;
  height: 4px;
  background: #feb633;

  position: absolute;
  top: 65px;
  left: 330px;
}

.content p {
  font-size: 18px;
  color: #8a8fa3;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  max-width: 1024px;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    padding: 80px 20px;
  }

}

@media (min-width: 425px) and (max-width: 767px) {
  .content {
    max-width: 425px;
    padding: 0px 30px;
  }

  .content h2 {
    font-size: 35px;
  }

  .content h2::before {
    top: 105px;
    left: 160px;
  }

  .content p {
    font-size: 16px;
  }
}
.light {
  background: #FFFFFF;
}
.dark {
  background: #393838;
  color: #CCCCCC;
}
.dark p {
  color: #CCCCCC;
}
@media (min-width: 375px) and (max-width: 424px) {
  .content {
    max-width: 375px;
    padding: 0px 30px;
  }

  .content h2 {
    font-size: 28px;
  }

  .content h2::before {
    top: 85px;
    left: 136px;
  }

  .content p {
    font-size: 15px;
  }
}
