.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 300px;
  padding: 70px 20px;

}
.container:hover {
  background: #feb633;
  transition: 1.4s;
}
.container p {
  font-size: 15px;
  color: #32333c;
}
.container div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.container div span {
  font-size: 14px;
  color: #32333c;
  font-weight: 600;
}
.container div h3 {
  font-size: 24px;
  color: #000000;
}
.container div small {
  font-size: 12px;
  color: #32333c;
  font-weight: 500;
}
.light {
  background: #e6e5e5;
  border: .5px solid #fafbfc;
}
.dark {
  background: #393838;
  border: .1px solid #fafbfc;
}
.dark p,
.dark div span,
.dark div h3,
.dark div small {
  color: #CCCCCC;
}
.dark:hover p,
.dark:hover div span,
.dark:hover div h3,
.dark:hover div small {
  color: #000000;  
}
@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}
