.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 30px;
}
.container img {
  width: 50px;
  height: 35px;
}
.container button {
  width: 50px;
  height: 50px;
  padding: 8px;

  border-radius: 50%;
  cursor: pointer;
}
.container button img {
  width: 28px;
  height: 28px;
  filter: #252525;
  
}
.light {
  background: #FFFFFF;
}
.dark {
  background: #252525;
}
.btn_light {
  border: 3px solid #747272;
  background: #FFFFFF;
}
.btn_dark {
  border: 3px solid #feb633;
  background: #252525;
}
